body { /* här har jag ändrat bakgrundsfärgen och hur allt är centrerat*/
    background-color: rgb(126, 80, 80);
    text-align: center;
    align-content: center;
    display: flex;
    margin: 200px;
}

.login-border { /*En class som fungerar som en ram för login-boxen*/
    background-color: rgb(150, 132, 132);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-style: double;
    border-color: rgb(90, 68, 68);
    border-width: 10px;
    border-radius: 10%;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.login-text { /*Här har jag ändrat fonten, storleken och färgen på texten i login-boxen*/
    font-size:8ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    color: rgb(240, 203, 203);
}

.login-box-text { /*Här har jag också ändrat fonten men för annan text*/
    font-size: 3ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
}

.login { /*Här har jag också ändrat fonten men för annan text*/
    font-size: 2ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    background-color: rgb(110, 91, 91);
    color: rgb(240, 203, 203);
}

.vhd-text { /*Här har jag ändrat fonten, storleken och färgen på VHDes.se texten*/
    color:  rgb(240, 203, 203);
    font-size: 3ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    text-decoration: underline
    rgb(58, 30, 30);
}

#username { /*Username fältet (boxen) har jag fixat med här*/
    background-color: rgb(110, 91, 91);
    padding: 8px;
    margin: 8px;
}

#password { /*Password fältet (boxen) har jag fixat med här*/
    background-color: rgb(110, 91, 91);
    padding: 8px;
    margin: 8px;
}
