body {
    background-color: rgb(126, 80, 80);
    transition: 0.5s;
}

#content {
    transition: 0.5s;
    filter: blur(15px);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2ch;
    font-family: "Bungee", sans-serif;
}