body {
    background-color: rgb(126, 80, 80);
    transition: 0.5s;
}

.sida-border { /*En class som fungerar som en ram för sida-boxen, som för login men för sidan*/
    background-color: rgb(150, 132, 132);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-style: double;
    border-color: rgb(90, 68, 68);
    border-width: 10px;
    border-radius: 10%;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#hyrKnapp { /*Här har jag också ändrat fonten / storleken för knappen "hyr en elscooter"*/
    font-size: 5ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    background-color: rgb(110, 91, 91);
    color: rgb(240, 203, 203);
    padding: 20px;
}

#hyrKnapp:hover { /*när man hoverar över knappen ändras ljusstyrkan*/
  filter: brightness(150%);
}

.sidaText { /*Här har jag också ändrat fonten men för annan text*/
    font-size: 4ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
}

#infoText { /*När man har hyrt den kommer denna text upp, men mindre än annan text på sidan*/
    font-size: 4ch;
    font-family: "Bungee", sans-serif;
    font-style: normal; 
    color: rgb(240, 203, 203);
}

#statusMeddelande { /*Det här är för status meddelandet som säger att man inte hyrt en*/
    text-decoration: underline;
    font-size: 4ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
}

#welcome { /*Det här är för välkomstmeddelandet som säger hej och sedan användarnamnet*/
    text-align: center;
    font-size: 7ch;
    font-family: "Bungee", sans-serif;
    font-style: normal; 
    color: rgb(240, 203, 203);
    text-shadow: 2px 2px 4px #000000;
}

#pengarText { /*Det här är för texten som visar hur mycket pengar man har*/
    font-size: 6ch;
    font-family: "Bungee", sans-serif;
    font-style: normal; 
    color: rgb(240, 203, 203);
}

#timerDisplay { /*Det här är för timern som visar hur länge man har hyrt en elscooter*/
    font-size: 4ch;
    font-family: "Bungee", sans-serif;
    font-style: normal; 
    color: rgb(240, 203, 203);
    transition: 0.5s;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000;
}

#ult-scooter { /*Det här är för texten "The Ultimate Scooter" som är överst på sidan*/
    font-size: 9ch;
    font-family: "Bungee", sans-serif;
    font-style: normal; 
    color: rgb(131, 113, 179);
    text-decoration: underline;;
    text-shadow: 2px 2px 4px #000000;
}