body {
    background-color: rgb(126, 80, 80);
    transition: 0.5s;
}

#content {
    transition: 1s;
    filter: blur(20px);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2ch;
    font-family: "Bungee", sans-serif;
}

.sida-border { /*En class som fungerar som en ram för sida-boxen, som för login men för sidan*/
    background-color: rgb(150, 132, 132);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-style: double;
    border-color: rgb(90, 68, 68);
    border-width: 10px;
    border-radius: 10%;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#hyrKnapp { /*Här har jag också ändrat fonten för knappen "hyr en elscooter"*/
    font-size: 2ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    background-color: rgb(110, 91, 91);
    color: rgb(240, 203, 203);

    padding: 20px;
}

#hyrKnapp:hover {
  filter: brightness(150%);
}

.sidaText { /*Här har jag också ändrat fonten men för annan text*/
    font-size: 3ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
}

#infoText { /*När man har hyrt den kommer denna text upp, men mindre än annan text på sidan*/
    font-size: 2ch;
    font-family: "Bungee", sans-serif;
    font-style: normal; 
    color: rgb(240, 203, 203);
}

#statusMeddelande {
    text-decoration: underline;
    font-size: 4ch;
    font-family: "Bungee", sans-serif;
    font-style: normal;
}

.scooterBild {
    
}

#welcome {
    text-align: center;
}